body {
  font-family: Helvetica, sans-serif;
}

img {
  width: 100%;
}

.navbar-light .navbar-nav .nav-link, .location, main h2, .footer-menu a {
  color: #DEA966;
  text-transform: uppercase;
}

.main-logo-container {
  display: flex;
  justify-content: center;
}

.main-logo {
  width: 276px;
  height: 207px;
  padding: 50px 65px;
}

.nav-container {
  display: flex;
}

header .row {
  justify-content: flex-end;
}

@media ALL and (max-width: 991px) {
  header .row {
    justify-content: center;
  }
}

header nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

nav li {
  padding: 0 10px;
}

.main-banner-image-container {
  position: relative;
}

.main-banner-image {
  width: 100%;
}

.main-banner-text-overlay {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-banner-text-overlay h1 {
  font-size: 35px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-weight: 700;
  text-align: center;
  text-shadow: 0px 0px 15px #1f1f1f;
}

main, .footer-menu {
  padding: 100px 0;
}

.main-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

main p {
  color: #fff;
}

main, footer {
  background-color: #131313;
}

footer > div {
  border-top: 2px solid #414141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.location {
  text-align: center;
}

.location p {
  margin: 0;
}

